extends ../layouts/default.pug
include ../mixins/box-breadcrumb.pug

block main
  +box-breadcrumb()

  // Section 10
  .section-10
    .container
      .inner-wrap
        .inner-left
          // Danh sách ảnh
          .box-images
            .inner-images-main
              .swiper.swiper-box-images-main
                .swiper-wrapper
                  .swiper-slide
                    .inner-image
                      img(
                        alt="" 
                        src="https://swiperjs.com/demos/images/nature-1.jpg"
                        )
                  .swiper-slide
                    .inner-image
                      img(
                        alt="" 
                        src="https://swiperjs.com/demos/images/nature-2.jpg"
                        )
                  .swiper-slide
                    .inner-image
                      img(
                        alt="" 
                        src="https://swiperjs.com/demos/images/nature-3.jpg"
                        )
                  .swiper-slide
                    .inner-image
                      img(
                        alt="" 
                        src="https://swiperjs.com/demos/images/nature-4.jpg"
                        )
                  .swiper-slide
                    .inner-image
                      img(
                        alt="" 
                        src="https://swiperjs.com/demos/images/nature-5.jpg"
                        )
            .inner-images-thumb
              .swiper.swiper-box-images-thumb
                .swiper-wrapper
                  .swiper-slide
                    .inner-image
                      img(
                        alt="" 
                        src="https://swiperjs.com/demos/images/nature-1.jpg"
                        )
                  .swiper-slide
                    .inner-image
                      img(
                        alt="" 
                        src="https://swiperjs.com/demos/images/nature-2.jpg"
                        )
                  .swiper-slide
                    .inner-image
                      img(
                        alt="" 
                        src="https://swiperjs.com/demos/images/nature-3.jpg"
                        )
                  .swiper-slide
                    .inner-image
                      img(
                        alt="" 
                        src="https://swiperjs.com/demos/images/nature-4.jpg"
                        )
                  .swiper-slide
                    .inner-image
                      img(
                        alt="" 
                        src="https://swiperjs.com/demos/images/nature-5.jpg"
                        )
          // Hết Danh sách ảnh
          // Thông Tin Tour
          .box-tour-info
            .inner-title Thông Tin Tour
            .inner-content
              p
                | Nói về dịch vụ, chắc chắn rồi, với một tiêu chí của một khách sạn 5 sao đẳng cấp, mình tin rằng Indochine Palace đủ để cho bạn đánh giá 6 sao. Từ nhà hàng, cà phê, đến trung tâm thể dục thể thao hiện đại đến Spa, xông hơi… tất tần tật các dịch vụ mà bạn mong muốn đều có ở đây.. Từ nhà hàng, cà phê, đến trung tâm thể dục thể thao hiện đại đến Spa, xông hơi… tất tần tật các dịch vụ mà bạn mong muốn đều có ở đây. . Từ nhà hàng, cà phê, đến trung tâm thể dục thể thao hiện đại đến Spa, xông hơi…
              img(
                alt="" 
                src="/assets/images/banner-14.jpg"
                )
              p
                | Nói về dịch vụ, chắc chắn rồi, với một tiêu chí của một khách sạn 5 sao đẳng cấp, mình tin rằng Indochine Palace đủ để cho bạn đánh giá 6 sao. Từ nhà hàng, cà phê, đến trung tâm thể dục thể thao hiện đại đến Spa, xông hơi… tất tần tật các dịch vụ mà bạn mong muốn đều có ở đây.. Từ nhà hàng, cà phê, đến trung tâm thể dục thể thao hiện đại đến Spa, xông hơi… tất tần tật các dịch vụ mà bạn mong muốn đều có ở đây. . Từ nhà hàng, cà phê, đến trung tâm thể dục thể thao hiện đại đến Spa, xông hơi…
              p
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Est accusamus quisquam quo minima modi temporibus repellendus dignissimos asperiores sunt itaque! Enim, beatae. Voluptatum beatae molestias ducimus incidunt, harum quae est. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero cupiditate iste est eos aliquid voluptas, unde corrupti deserunt voluptatum libero, neque minus. Provident quas perferendis, dolores ab sed dicta voluptatem. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque quis consequuntur beatae et laboriosam nam, enim repellat quibusdam adipisci, saepe illum officia provident molestias modi necessitatibus reprehenderit distinctio quod totam.
              img(
                alt="" 
                src="/assets/images/banner-14.jpg"
                )
              p
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Est accusamus quisquam quo minima modi temporibus repellendus dignissimos asperiores sunt itaque! Enim, beatae. Voluptatum beatae molestias ducimus incidunt, harum quae est. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero cupiditate iste est eos aliquid voluptas, unde corrupti deserunt voluptatum libero, neque minus. Provident quas perferendis, dolores ab sed dicta voluptatem. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque quis consequuntur beatae et laboriosam nam, enim repellat quibusdam adipisci, saepe illum officia provident molestias modi necessitatibus reprehenderit distinctio quod totam.
            .inner-read-more
              button.button-outline Xem tất cả
          // Hết Thông Tin Tour
          // Lịch Trình Tour
          .box-tour-schedule
            .inner-title-main Lịch Trình Tour
            .inner-list
              .inner-item
                .inner-title NGÀY 1 | TP.HCM – THỦ ĐÔ HÀ NỘI
                .inner-content
                  p
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium sunt earum voluptate reprehenderit nulla veritatis iusto dolor error sequi saepe! Debitis rerum nam, incidunt sunt quam velit delectus soluta repellendus.
                  p
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium sunt earum voluptate reprehenderit nulla veritatis iusto dolor error sequi saepe! Debitis rerum nam, incidunt sunt quam velit delectus soluta repellendus.
                  p
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium sunt earum voluptate reprehenderit nulla veritatis iusto dolor error sequi saepe! Debitis rerum nam, incidunt sunt quam velit delectus soluta repellendus.
                  img(
                    alt="" 
                    src="/assets/images/banner-15.png"
                    )
              .inner-item
                .inner-title NGÀY 2 | TP.HCM – THỦ ĐÔ HÀ NỘI
                .inner-content
                  p
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium sunt earum voluptate reprehenderit nulla veritatis iusto dolor error sequi saepe! Debitis rerum nam, incidunt sunt quam velit delectus soluta repellendus.
                  p
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium sunt earum voluptate reprehenderit nulla veritatis iusto dolor error sequi saepe! Debitis rerum nam, incidunt sunt quam velit delectus soluta repellendus.
                  p
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium sunt earum voluptate reprehenderit nulla veritatis iusto dolor error sequi saepe! Debitis rerum nam, incidunt sunt quam velit delectus soluta repellendus.
                  img(
                    alt="" 
                    src="/assets/images/banner-15.png"
                    )
                  p
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium sunt earum voluptate reprehenderit nulla veritatis iusto dolor error sequi saepe! Debitis rerum nam, incidunt sunt quam velit delectus soluta repellendus.
          // Hết Lịch Trình Tour
        .inner-right
          .box-tour-detail
            .inner-title-main Chuyến Đi Của Bạn
            .inner-product
              .inner-image
                img(
                  alt="" 
                  src="/assets/images/banner-13.jpg"
                  )
              .inner-info
                .inner-title Hà Nội - Ninh Bình - Hạ Long - Yên Tử - Sapa | 6N5D
                .inner-rating
                  .inner-stars
                    i.fa-solid.fa-star
                    i.fa-solid.fa-star
                    i.fa-solid.fa-star
                    i.fa-solid.fa-star
                    i.fa-regular.fa-star
                  .inner-number 500 lượt đánh giá
            .inner-meta
              .inner-item
                i.fa-solid.fa-ticket-simple
                span Mã Tour:
                span.inner-hl 28T00001
              .inner-item
                i.fa-solid.fa-calendar-days
                span Thời Gian:
                span.inner-hl 6 Ngày 5 Đêm
              .inner-item
                i.fa-solid.fa-car
                span Phương Tiện:
                span.inner-hl Ô tô 45 chỗ
              .inner-item
                i.fa-solid.fa-calendar-days
                span Ngày Khởi Hành:
                span.inner-hl 20/10/2024
            .inner-group
              .inner-label Khởi Hành Tại:
              select
                option(value="") Hà Nội
                option(value="") Đà Nẵng
                option(value="") Nha Trang
            .inner-group
              .inner-label Số Lượng Hành Khách
              .inner-list
                .inner-item
                  .inner-item-label Người lớn:
                  .inner-item-input
                    input(
                      value="1" 
                      type="number"
                      )
                  .inner-item-price
                    span 1
                    span x
                    span.inner-hl 10.000.000
                .inner-item
                  .inner-item-label Trẻ em:
                  .inner-item-input
                    input(
                      value="0" 
                      type="number"
                      )
                  .inner-item-price
                    span 0
                    span x
                    span.inner-hl 10.000.000
                .inner-item
                  .inner-item-label Em bé:
                  .inner-item-input
                    input(
                      value="0" 
                      type="number"
                      )
                  .inner-item-price
                    span 0
                    span x
                    span.inner-hl 10.000.000
            .inner-total
              .inner-label Tổng cộng:
              .inner-price 10.000.000đ
            button.inner-button-add-cart Thêm Vào Giỏ Hàng
  // End Section 10