extends ../layouts/account.pug

block title
  title Quên mật khẩu

block main
  .form-account
    h1.inner-title Quên mật khẩu
    .inner-desc Vui lòng nhập email để tiếp tục

    form.inner-form(id="forgot-password-form")
      .inner-group
        label(
          for="email"
          class="inner-label"
        ) Email
        input(
          type="email"
          name="email"
          id="email"
          placeholder="Ví dụ: levana@gmail.com"
          class="inner-control"
        )
      button(class="inner-button") Gửi mã OTP

    .inner-more
      span Bạn đã nhớ mật khẩu?
      a(href="#") Đăng nhập