extends ../layouts/account.pug

block title
  title Đổi mật khẩu

block main
  .form-account
    h1.inner-title Đổi mật khẩu
    .inner-desc Vui lòng nhập mật khẩu để tiếp tục

    form.inner-form(id="reset-password-form")
      .inner-group
        label(
          for="password"
          class="inner-label"
        ) Mật khẩu mới
        input(
          type="password"
          name="password"
          id="password"
          class="inner-control"
        )
      .inner-group
        label(
          for="confirm-password"
          class="inner-label"
        ) Xác nhận mật khẩu
        input(
          type="password"
          name="confirmPassword"
          id="confirm-password"
          class="inner-control"
        )
      button(class="inner-button") Thay đổi

    .inner-more
      span Bạn đã nhớ mật khẩu?
      a(href="#") Đăng nhập