extends ../layouts/default.pug

block main
  
  h1.box-title Thông tin website

  //- Section 8
  .section-8
    form(id="setting-website-info-form")
      .inner-group
        label(for="websiteName" class="inner-label") Tên website
        input(type="text" id="websiteName" name="websiteName")
      .inner-group
        label(for="phone" class="inner-label") Số điện thoại
        input(type="text" id="phone" name="phone")
      .inner-group
        label(for="email" class="inner-label") Email
        input(type="email" id="email" name="email")
      .inner-group
        label(for="address" class="inner-label") Địa chỉ
        input(type="text" id="address" name="address")
      .inner-group
        label(for="logo" class="inner-label") Logo
        .inner-upload-image
          input(
            type="file" 
            id="logo"
            name="logo"
            filepond-image
            )
      .inner-group
        label(for="favicon" class="inner-label") Favicon
        .inner-upload-image
          input(
            type="file" 
            id="favicon"
            name="favicon"
            filepond-image
            )
      .inner-button.inner-two-col
        button Cập nhật
    .inner-back
      a(href=`/${pathAdmin}/setting/list`) Quay lại danh sách
  //- End Section 8